<div class="col-3 ">
<p-button (click)="showDialog()" icon="pi pi-external-link" label="Ingresar gasto"></p-button>
</div>

<p-dialog header="Ingresar gasto" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">

        <div class="p-inputgroup">
            <p-inputNumber placeholder="Ingresar monto" ></p-inputNumber>
            <input class="ml-1" type="text" placeholder="Ingresar rut" pInputText />        
        </div>
        <div class="p-inputgroup mt-2">
            <textarea  pInputTextarea 
                placeholder="Agregar Detalle..."></textarea>
        </div>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="display=false" label="Yes" class="p-button-text"></p-button>
            <p-button icon="pi pi-times" (click)="display=false" label="No"></p-button>
        </ng-template>
</p-dialog>
<!-- Ingresar gasto
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <p-inputNumber  ></p-inputNumber>
            <p-calendar placeholder="Fecha" class="ml-2"  >

            </p-calendar>   
            
            <span class="p-buttonset">
                <button pButton type="button" 
                label="Gasto" 
                icon="pi pi-check"
                class="ml-2 p-button-warning">

                </button>
            </span>
        </div>
        <div class="col-8 p-0 mt-2">
            <textarea  pInputTextarea placeholder="Agregar Detalle..."></textarea>
        </div>
    </div>Fin gastos -->
