<div class="col-3 ">
<p-button (click)="showDialog()" icon="pi pi-external-link" label="Ingresar gasto"></p-button>
</div>

<p-dialog header="Ingresar gasto" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    
    <form [formGroup]="miFormulario" >
        <div class="p-inputgroup">
            <p-inputNumber placeholder="Ingresar monto"
                           formControlName="gasto"  ></p-inputNumber>
            <input class="ml-1" 
            type="text" 
            formControlName="rut"
            placeholder="Ingresar rut" pInputText />        
        </div>
        <div class="p-inputgroup mt-2">
            <textarea  pInputTextarea 
                formControlName="detalle"
                placeholder="Agregar Detalle..."></textarea>
        </div>
    </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="guardar()" label="Guardar" class="p-button-text"></p-button>
            <p-button icon="pi pi-times" (click)="display=false" label="Cerrar"></p-button>
        </ng-template>
    
</p-dialog>
